################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CopelandCodeTest/WinUIWeatherApp/OpenWeatherMap/obj
/CopelandCodeTest/WinUIWeatherApp/OpenWeatherMap/bin/Debug/net8.0-windows10.0.19041.0
